# Install pre-commit hooks via
# pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9 # frozen: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: fc260393cc4ec09f8fc0a5ba4437f481c8b55dc1 # frozen: v3.0.3
    hooks:
      - id: prettier
        files: \.(css|html|md|yml|yaml|toml)
        args: [--prose-wrap=preserve]

  - repo: https://github.com/psf/black
    rev: e87737140f32d3cd7c44ede75f02dcd58e55820e # frozen: 23.9.1
    hooks:
      - id: black

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 960ead214cd1184149d366c6d27ca6c369ce46b6 # frozen: 1.16.0
    hooks:
      - id: blacken-docs

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 36d09b6e15ad1577720205c2591714ab7636cac7 # frozen: v0.0.288
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
