[project]
name = "devpy"
version = "0.1a3.dev0"
requires-python = ">=3.7"
description = "Developer tool for scientific Python libraries"
license = {file = "LICENSE"}
maintainers = [
  {name = "Scientific Python", email = "devpy@discuss.scientific-python.org"}
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python"
]
dependencies = [
  "click",
  "toml"
]

[project.optional-dependencies]
lint = ["pre-commit >= 2.20"]

[project.urls]
homepage = "https://github.com/scientific-python/devpy"

[tool.setuptools.packages.find]
include = ["devpy*"]

[tool.devpy]
package = 'devpy'
commands = ["devpy.build", "devpy.test", "devpy.shell", "devpy.ipython", "devpy.python", "custom/__init__.py:example"]
